# =========================
# BACKEND (C# / .NET)
# =========================
.vs/
bin/
obj
logs/
*.log

# =========================
# FRONTEND (Node / React / etc)
# =========================
node_modules/
dist/
build/

# =========================
# OPERATING SYSTEM
# =========================
.DS_Store
._*
*~
