/* */
html, body, #root {
  font-family: "Roboto", system-ui, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

.chat-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left column */
.dm-list {
  width: 250px;
  background-color: #131415;
  border: 1px solid #555;
  color: white;
  overflow-y: auto;
  text-align: center;
}

/* Right column */
.chat-window {
  flex: 1;
  background-color: #313338;
  color: white;
  display: flex;
  flex-direction: column;
}

.dm-list-header {
  border-bottom: 1px solid #555;
  padding: 10px;
  text-align: left;
}

/* DM item */
.dm-item {
  padding: 10px 12px;
  margin: 6px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.dm-item:hover {
  background-color: #3a3c42;
}

.dm-item.active {
  background-color: #404249;
}

.recipient-name {
  padding: 10px;
  margin-top: 0;
  border: 1px solid #555;
  border-left: none;
}

/* Messages area */
.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.text-box {
  height: 50px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #555;     /* visible outline */
  background-color: #383a40;
  color: white;
  outline: none;
  padding-left: 30px;
}
